/* old styles  */
.formLayout {
  display: flex;
  text-align: center;
  padding-left: 200px;
  padding-top: 30px;
}

.item {
  width: 300px;
}

/*input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}*/

button {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    color: #FFFFFF;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #FF0000;
}

/*input[type=text]:hover {
    background-color: #FFFFEE;
}*/
