.input {
  width: 300px;
  height: 40px;
  margin: 0 0;
  padding: 12px 10px;

  font-size: 14px;
  color: #333333;
  display: inline-block;
  border: 1px solid #929292;
  border-radius: 0px;
  box-sizing: border-box;
  opacity: 1;
}

.input__warning {
  border: 1px solid #E9A115;
  background-color: #FBF8F3;
}

.input__error {
  border: 1px solid #DB0011;
  background-color: #F9F2F3
}

.input:disabled {
  border: 1px solid #929292;
  opacity: 0.5;
}

/*#AF000D;*/

/*.inputField:hover {
  border: 1px solid #376798;
}

.inputField:active {
  font-size: 14px;
  color: #333333;
}*/

/*.inputField:focus {
  outline:none;
  border:1px solid red;
}*/
